<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="musiccontrol2.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <musiccontrol2.My.MySettings>
            <setting name="Frm_Control_Time_AlwaysOnTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Frm_Control_Btn_Frm_Size" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="app_Start_With_Windows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Frm_Control_Tranparent_Background" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Frm_All_Backcolor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="Frm_Control_Position" serializeAs="String">
                <value>TopLeft</value>
            </setting>
        </musiccontrol2.My.MySettings>
    </userSettings>
</configuration>